body
{
	margin: 0px;
}
section.section1
{
	height: 70%;
	width: 55%;
	padding: 10px;
	border: 1px solid black;
	margin-right: 60px;
	margin-left: 60px;
	margin-top: 25px;
	margin-bottom:25px;
	background-color: rgb(253, 243, 202);
	overflow: hidden;


}
section.sidesection
{
	max-height: 25%;
	padding: 10px;
	border: 1px solid black;
	margin-top: 25px;
	margin-bottom:25px;
	margin-right: 60px;
	margin-left: 60px;
	background-color: rgb(255, 253, 245);


	
}

header
{
	padding: 30px;
	color: white;
	background-color: rgb(134, 150, 164);
	
}
h1
{

}
h2
{

}
aside
{
	float: right;
	width: 38%;
	display: inline;
}

footer
{
	background-color: rgb(134, 150, 164);
	padding: 10px;
	color: white;
}
.sectionpicture
{
	float: left;


}
.link
{

	padding: 10px;
	float: left;
}
.link:hover
{
		background-color: rgb(30, 59, 82);
}